

<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Green Living</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <link rel="shortcut icon" href="favicon.png">    
    <!-- Bootstrap 3.3.2 -->
     <script type="text/javascript" src="/intjs/app.js"></script>

    <link rel="stylesheet" href="/assets_home/css/bootstrap.min.css" type="text/css" defer>      
    <link rel="stylesheet" href="/assets_home/css/animate.css" type="text/css" defer>
    <link rel="stylesheet" href="/assets_home/css/font-awesome.min.css" type="text/css" defer>
    <link rel="stylesheet" href="/assets_home/css/slick.css" type="text/css" defer>
    <link rel="stylesheet" href="/assets_home/js/rs-plugin/css/settings.css" type="text/css" defer>
    <link rel="stylesheet" href="/assets_home/css/styles.css" type="text/css" defer> 
    <link rel="stylesheet" href="/assets/css/new.css" type="text/css" defer>  
    <link rel="stylesheet" href="/assets/css/media-query.css" type="text/css" defer>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" defer>
  <!--  <link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"  rel="stylesheet" type="text/css" defer>   -->       
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" type="text/css" defer>
            
   <script type="text/javascript" src="/assets_home/js/modernizr.custom.32033.js" defer></script>    
  <script src="/assets_home/js/jquery-1.11.1.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" defer></script>
    
<script type="text/javascript">
      $('body,html').click(function(e){
        // alert('call'); 
       $('#sidebar-wrapper').removeClass('show-menu');
});
    </script>
      
   

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width :768px){
  .newimagecss{

  margin-top: 50px;
}

    }
    .fa.fa-check {
  color: #babf10;
}

.dropdown.open .dropdown-toggle {
    color: #0e0e0e9e!important;
}

.dropdown-menu {
    position: absolute;
    top: 124%;
    left: 20px;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
</style>

<body>
    
    <div class="pre-loader">
        <div class="load-con">
            <img src="#" class="animated fadeInDown" alt="">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>

   

 <!--<div class="front-header" style="background: #fff;width: 100%;position: fixed;z-index: 100;">
     <div id="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 60px;">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="index" style="padding-top: 0px;">
                             <h3 style="color: #000;">WORLD<b style="color: #000;">EX</b></h3>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right" style="padding-top: 12px;">
                           
                        
                            
                            <li>
                            <a data-toggle="modal" data-target="#myModal">Login | Sign Up</a> 

                            </li>

                           
                            
                        </ul>
                    </div>
                </div>
        </div>

 </div>-->

</header>



         <!--<div class="tp-banner-container">
            <div class="tp-banner">
            </div>
</div>-->

              <!--<div class="caption">
                  <marquee>This is basic example of marquee</marquee>
                     </div>-->



       <!-- <div class="row">

        <img src="/img/banner.jpg" class="img-responsive" style="width: 100%;">-->
       <!--   <% if(locals.error) { %>
              <div class="alert alert-danger" style="text-align: center;width: 400px;float: right;position: absolute;top: 540px;left: 930px;"><%= error %>
                  <button type="button" class="close-data" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
                      <% } %>
                     <% if(locals.success) { %>
              <div class="alert alert-success" style="text-align: center;width: 400px;float: right;position: absolute;top: 540px;left: 930px;"><%= success %>
                  <button type="button" class="close-data" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
                      <% } %>  -->


<style type="text/css">

@media screen and  (max-width:375px){
  .shifting{       margin-left: 50px;}}

 a.newlogocss{
      margin-left: 20px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}



.modal-backdrop{
  position: relative!important;
}
  .clear-menu-btn {
  position: relative;
 /* width: 30px;*/
  height: 100px;
 /* margin: 0 auto;*/
}

.clear-menu-btn input[type="checkbox"] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  height: 100%;
}

.clear-menu-btn input[type="checkbox"]:hover { cursor: pointer; }

.clear-menu-btn input[type="checkbox"]:checked ~ .top, .clear-menu-btn input[type="checkbox"]:checked ~ .bottom { top: 50%; }

.clear-menu-btn input[type="checkbox"]:checked ~ .top {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.clear-menu-btn input[type="checkbox"]:checked ~ .bottom {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.clear-menu-btn input[type="checkbox"]:checked ~ .middle {
  filter: alpha(opacity=0);
  opacity: 0;
}

.clear-menu-btn input[type="checkbox"]:checked ~ .circle {
  filter: alpha(opacity=100);
  opacity: 1;
}

.clear-menu-btn span {
  position: absolute;
  display: block;
  width: 20px;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.clear-menu-btn .top { top:40%; }

.clear-menu-btn .middle { top: 45%; }

.clear-menu-btn .bottom { top: 50%; }

.clear-menu-btn .circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: alpha(opacity=0);
  opacity: 0;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
 /* border: 1px solid #fff;*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}
</style>
<style type="text/css">
  #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
      display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    background: #000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.btn.btn-primary:focus{
  outline: none;
}

 @media (min-width: 414px){
 .navbar-brand{
  font-size: 25px !important;
 }
   }

   @media (min-width: 320px) and (max-width: 320px){
 .navbar-brand{
     font-size: 15px !important;
    padding: 0px;
    margin: 13px;
 }
   }

    @media (min-width: 1920px){
 .fa{
     font-size: 25px !important;
    
 }
 .center-block{
   font-size: 14px !important;
   }
 }


</style>

                           
 <div id="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="modal" data-target="#navbarss"  style="border: none;display: none;background-color: #fff;">
              <i class="fa fa-user" style="color: #babf10"></i>
          </button>
          
       
          <button type="button" class="navbar-toggle collapsed visible-xs">
              <span class="sr-only">Toggle navigation</span>
            <a href="/carts">  <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #babf10;float: left;margin-top: 8px;font-size: 20px;">&nbsp;$<span id="totalprices"></span> </i></a>
              </span>
              </button>
          
                <div  class="navbar-brand">


                   <!--  <a id="menu-toggle" href="#" class="btn-menu toggle">
                            
                       
                    </a> -->

                     <button type="button" class="hamburger is-closed" data-toggle="offcanvas" style="margin: 0px;">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>

<!--         <i class="fa fa-bars" aria-hidden="true" style="color: #000;"></i>
 -->        
            </button>
                   
            <a class="newlogocss" href="/home" style="color: #000;text-decoration: none;">GREEN<b style="color: #6c9421;">LIVING</b></a>
                </div>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
         <li><a href="/health-provider" style="border: none;text-decoration: none;">Certified Practitioners
</a></li>

      
           <li class="dropdown active">
                                <a class="dropdown-toggle colordrop" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#" data-target="dropdown active open" style="z-index: 100000000;background: none;color: #999;">
                                   <% if (user.local.email) { %>
                                      <%= user.local.email %>
                                   <% } %>
                                    <i class="icon-angle-down"></i>
                                </a>
                                  
                             <ul class="dropdown-menu menud" id="innernav">
                             
                     <li><a href="account" class="sidetab" style="color: #999;margin-left: 15px!important;"> My Account</a></li>
                      <li><a class="sidetab" style="color: #999;margin-left: 15px!important;" href="subscription" > My Subscription</a></li>
                     <li><a href="order" class="sidetab" style="color: #999;margin-left: 15px!important;"> My Order</a></li>
                   <% if (user.user_role === 'admin') { %>
                    <li><a href="manageorder" class="sidetab" style="color: #999;margin-left: 15px!important;"> Order Managment</a></li>
                    <li><a href="managetransaction" class="sidetab" style="color: #999;margin-left: 15px!important;"> Transaction Managment</a></li>
                    <li><a href="symptom-admin" class="sidetab" style="color: #999;margin-left: 15px!important;"> Symptom History</a></li>
                    <li><a href="product-list" class="sidetab" style="color: #999;margin-left: 15px!important;"> Our Products</a></li>
                     <li><a href="admin" class="sidetab" style="color: #999;margin-left: 15px!important;"> User Management</a></li>
                     <li><a href="add-symptoms" class="sidetab" style="color: #999;margin-left: 15px!important;"> Add Symptoms</a></li>
                     <li><a href="manage-symptoms" class="sidetab" style="color: #999;margin-left: 15px!important;"> Manage Symptoms</a></li>
                    <% } %>
                   <% if (user.user_role === 'user') { %>
                     <li><a href="consult" class="sidetab" style="color: #999;margin-left: 15px!important;" > My Consultations</a></li>
                     <li><a href="symptom-user" class="sidetab" style="color: #999;margin-left: 15px!important;"> Symptom History</a></li>
                     <% } %>
                   <% if (user.user_role === 'doctor') { %>
                      <li><a href="review-consult" class="sidetab" style="color: #999;margin-left: 15px!important;"> Review Consultations</a></li>
                      <li><a href="symptom-all" class="sidetab" style="color: #999;margin-left: 15px!important;"> Symptom History</a></li>
                      <% } %>
                   <li><a href="/logout" class="sidetab" style="color: #999;margin-left: 15px!important;"> Logout</a></li>
                        
                                </ul>
                              </li>
                   
        </ul>
         
          <% if (user.user_role === 'doctor') { %> 
       <ul class="nav navbar-nav navbar-right hidden-xs">
          <li class="dropdown">
             
          <a href="review-consult" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-bell"><span class="num" style="color: #babf10"><%= loadconsultdata.length %></span></span></a>
                 
          </li>
      </ul>
      <% } %>

     <% if (user.user_role === 'user') { %>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li class="dropdown">
          <a href="consult" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-bell"><span class="num" id="unread" style="color: #babf10"></span><%= totalreadconsultstatus %></span></a>
          </li>
      </ul>
      <% } %>
         <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="/carts" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span>  &nbsp;$<span id="totalprice"></span></a>
       
        </li>
      </ul>
        
      </div>
    </div>
  </nav>
    
    <div id="sidebar-wrapper" >


        <nav id="spy">
            <ul class="sidebar-nav nav" style="background: #fff;">
            <li class="sidebar-brand">
                    
                </li>
               
                 <li class="sidebar-brand">
                    <a class="shifting" href="home" style="padding: 0px;">
                        <i class="fa fa-home"> </i> &nbsp;&nbsp;<span>Home</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="order-medicines" style="padding: 0px;">
                        <i class="fa fa-shopping-cart"></i>  &nbsp;&nbsp; <span>Order Supplements </span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="consult-onlines" style="padding: 0px;">
                        <i class="fa fa-user-md"></i> &nbsp;&nbsp; <span>Consult a Doctor</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="download-apps" style="padding: 0px;">
                        <i class="fa fa-film"></i> &nbsp;&nbsp;<span> Download App</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a class="shifting" href="health-provider" style="padding: 0px;">
                        <i class="fa fa-film"></i> &nbsp;&nbsp;<span>Certified Practitioners
</span>
                    </a>
                </li>
                <li class="sidebar-brand dropdown">
                  <a  href="#" class="dropdown-toggle shifting" data-toggle="dropdown" style="font-size: 15px;padding: 0px;"><i class="fa fa-tree" aria-hidden="true" ></i>&nbsp;&nbsp;&nbsp;Resources<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" style="top:0px;">
                   
                    <li><a class="shifting" href="res-philosophys">Philosophy</a></li>
                    <li><a class="shifting" href="res-herbals">&nbsp;&nbsp;&nbsp;Herbal Therapy</a></li>
                    <li><a class="shifting" href="res-hplcs">&nbsp;&nbsp;&nbsp;HPLC</a></li>
                    <li><a class="shifting" href="res-organics">&nbsp;&nbsp;&nbsp;Organic</a></li>
                  
                  </ul>
                </li>

                <li class="sidebar-brand dropdown" >
                  <a href="#" class="dropdown-toggle shifting" data-toggle="dropdown" style="font-size: 15px;padding: 0px;"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;People<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" style="top:0px;">
                    
                    <li><a class="shifting" href="peo-comprofiles">Company Profile</a></li>
                    <li><a class="shifting" href="peo-fourgpss">&nbsp;&nbsp;4 GP's</a></li>
                   
                  </ul>
                </li>
            </ul>
        </nav>
    </div>




    <style type="text/css">
.sidebar-nav li a {
    color: #101010;
    }

  .sidebar-nav li a:hover,.sidebar-nav li.active , .sidebar-nav li a:active
   {
    color: #babf10 ! important;
  }
  #abc a:-webkit-any-link {
    
    color: #171616 ! important;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
     background-color:  #ffffff !important; 
    box-shadow: none;
  }

</style>


    <!-- Page content -->
    <!--<div id="page-content-wrapper" style="margin-left: 0px;">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row" >
                
               <section class="parallax">
                 
               </section> 
                 
              <section class="banner-section">
               <div class="container-fluid" style="text-align: center;">
                 <div class="row">
                 <ul class="nav nav-pills" style="display: inline-block;">
                  
                 <li class="newli"> <a href="#features" style="text-decoration: none;border-right: 1px solid rgba(129, 200, 107, 0.36);"><h5 class="orign-data">
                           <i class="fa fa-user-md fa-1.5x"></i>
                            <br><br>
                               Consult online
                          
                        </h5>
                        </a></li>
                 <li> <a href="#reviews" style="text-decoration: none;border-right: 1px solid rgba(129, 200, 107, 0.36);"><h5 class="orign-data">
                           <i class="fa fa-shopping-cart fa-1.5x"></i>
                                <br><br>
                                Order Online
                           
                        </h5></a></li>
                 <li>   <a href="#" style="text-decoration: none;"><h5 class="orign-data">
                            <i class="fa fa-users fa-1.5x"></i>
                                  <br><br>
                                For Providers
                            
                        </h5></a></li>
                </ul>


                     
                   
                       
                                    
                     
                   
                     
                    
                </div>
                </div>
                
              </section>

              
              <section id="about">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading orign" style="text-align: center;">
                    <h1>Our Services</h1>
                    <div class="divider"></div>
                      <p>Services Divided</p>
                   </div>

                     </div>
                      <div class="col-md-4">
                        <div class="panel">
                           
                            <div class="panel-body orign">
                            <div class="about-item">
                            <i class="fa fa-user-md fa-2x"></i>
                            <h3 class="orign">Consult online</h3>
                            <p class="orign">Ask a doctor online, describe your symptoms, click a picture of your toungue and get your health queries answered, with prescribed medicines. Never wait in queue. Get faster response.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">                    
                        <div class="panel">
                             <div class="about-item">
                            <div class="panel-body" orign>
                            <i class="fa fa-mobile fa-2x"></i>
                            <h3 style="orign">Get Medicine Online</h3>
                            <p style="orign">We offers a wide variety of Chinese herbal products starting from instant granulated herbal tea, herbal drops, USDA herbal capsules to single herbs or traditional Chinese formula.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-4">
                        <div class="panel">
                            <div class="about-item">
                            <div class="panel-body orign">
                            <i class="fa fa-users fa-2x"></i>
                            <h3 style="orign">For Healthcare Providers</h3>
                            <p style="orign">Ordering in bulk made easy. For Licensed practioners only. Get special pricing and faster shipping on bulk orders. Schedule and repeat orders easliy with one-click. Delivery all over USA</p>
                            </div>
                            </div>
                        </div>
                    </div>
                  </div>
               
            </div>
        </section>
          <section id="reviews">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading inverse sp-effect3">
                    <h1 style="color: #fff">Get all your medicines</h1>
                    <div class="divider"></div>
                    <p>Medicines Are </p>
                   </div>

                     </div>
                      <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="newssss review-comment-data">
                            <ul>
                          <li class="newe-li-data"><i class="fa fa-check"></i> Guaranteed availability</li>
                          <li class="newe-li-data"><i class="fa fa-check"></i> Home delivery in 24hrs</li>
                          <li class="newe-li-data"><i class="fa fa-check"></i> Over 130,000+ medicines</li>
                          <li class="newe-li-data"><i class="fa fa-check"></i> 100% Organic & Genuine</li>
                             </ul>
                          
                            
                            </div>
                              <button data-toggle="modal" data-target="#myModal" type="submit" class="btn btn-primary btn-md" style="display: block;color:#fff;border-color: #fff;border-radius: 5px;margin-top: 34px;border: 1px solid #ffffff;margin-left: 80px;">
                                            Order Online</button>
                        </div>
                   
                   
                      <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="review-comment-data">
                            <div class="about-item">
                           
                               <img src="img/13.jpg" alt="" class="img-responsive sp-effect5">
                           
                            </div>
                        </div>
                    </div>
                  </div>
               
            </div>
        </section>
          <section id="features">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading sp-effect3">
                    <h1>Consult online</h1>
                    <div class="divider"></div>
                    <p>Consult Here</p>
                   </div>

                     </div>
                      <div class="col-md-7">
                        <div class="">
                           
                        <div class="panel-body orign">
                        <div class="about-item">
                       <img src="assets_home/img/eVisit_newsroom.jpg" class="img-responsive sp-effect5" alt="">
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-5">                    
                        <div class="">
                             <div class="about-item">
                            <div class="panel-body" orign>
                            <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Thousands of patients helped</h3>
                               
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Verified doctors respond in 20 minutes</h3>
                           
                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">100% private and confidential</h3>
                              
                            </div>
                        </div>

                          <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading"> Home delivery in 24hrs</h3>
                              
                            </div>
                        </div>

                                 <button data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-md" style="margin-top: 34px;    margin-left: 80px;border-radius: 5px;border: 1px solid #66cdcc;">Consult Now</button>
                              
                           

                       

                            </div>
                            </div>
                        </div>
                    </div>

                     
                     
                  </div>
               
            </div>
        </section>
          <section id="getApp">
               <div class="container-fluid">
                 <div class="row">
                
                <div class="col-md-12">
                 <div class="section-heading inverse sp-effect3">
                    <h1 style="color: #fff">Get App</h1>
                    <div class="divider"></div>
                      <p>Choose your native platform and get started!</p>
                       <p>Welcome <br> Our App</p>
                   </div>
                   </div>

                  <br> 
                    <br>
                    <div class="col-md-12">
                        <div class="hanging-phone sp-effect2 hidden-xs">
                            <img src="assets_home/img/freeze/freeze-angled2.png" alt="">
                        </div>
                        <div class="platforms">
                            <a href="#" class="btn btn-primary inverse sp-effect1">
                                <i class="fa fa-android fa-3x pull-left"></i>
                                <span>Download for</span><br>
                                <b>Android</b>
                            </a>
                            
                                <a href="#" class="btn btn-primary inverse sp-effect2">
                                    <i class="fa fa-apple fa-3x pull-left"></i>
                                    <span>Download for</span><br>
                                    <b>Apple IOS</b>
                                </a>
                        </div>

                    </div>
               


                     </div>
                 
                  
               
                </div>

        </section>
          <footer style="background: rgba(0, 0, 0, 0.28);">
           
                <div class="row">
                <div class="col-md-12">
                <div class="panel-body">
                  <div class="col-md-4">

                       
                    <h2>About</h2>
                    <p>Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                      
                    </div>
                    <div class="col-md-4" >
                       <h2>Contact Us</h2>
                    
                        Loop, Inc. <br />
                        259, Meridian Ave, Suite 14 <br />
                        San Jose, CA 95126 <br />
                        P: (234) 145-1810 <br />
                        Email: <a href="mailto:info@medical.com">info@worldex.com</a>                        
                   
                        
                    </div>
                    <div class="col-md-4" >
                        
                              <h2>Monthly Newsletter</h2>  
                        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form action="#">
                      
                          <button class="btn success" type="button">SUBSCRIBE</button>
                     
                    </form>
                       
                    </div>
                    
                </div>
                </div>
          </div>
                
             
        </footer>

       </div>
            </div>
        </div>
    </div>-->
</div>
<style type="text/css">
  /*bug fixing for- Open modal pop up is shifting body content to the right */
.modal-open {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll !important;
}
.navbar-inverse .navbar-toggle {
    border-color:  #ffffff;
}
</style>



    <script type="text/javascript">
      $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {

      hamburger_cross();  
     
    });

    function hamburger_cross() {

      if (isClosed == true) {   
       // alert("close sidebar");       
        overlay.hide();
        $("#sidebar-wrapper").css("width", "0");
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else{
     // alert("open sidebar");   
        overlay.show();
        $("#sidebar-wrapper").css("width", "250");
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      } 
//       else {

//        $('#hpage').click(function(e){
//          // if (isClosed == true) {   
//         // alert("true");   
//         alert("close divison sidebar");      
//         overlay.hide();
//         trigger.removeClass('is-open');
//         trigger.addClass('is-closed');
//         isClosed = false;
//       // } 
// }); 
//       }


  }

  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  

$('#hpage').click(function(e){
         if (isClosed == true) {   
        // alert("true");   
        //alert("close divison sidebar");      
        overlay.hide();
        $("#sidebar-wrapper").css("width", "0");
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        
        isClosed = false;
      } 
}); 

      
});
    </script>